@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono');
/*TODO: Make font local*/

*:focus {
    outline: none;
}

body {
    background-color: #1B1A1F;
    color: #00FF00;
    font-family: 'Ubuntu Mono', monospace;
    font-size: 16px;
}

.blinker{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

.inputMain {
  background: transparent;
  border: none;
  color: #00FF00;
  font-family: 'Ubuntu Mono', monospace;
  font-size: 16px;
  width: 90%;
}

@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
