@font-face {
  font-family: 'Ubuntu Mono';
  src: url('font/UbuntuMono-Regular.ttf') format('ttf');
}

@font-face {
  font-family: 'Ubuntu Mono-Bold';
  src: url('font/UbuntuMono-Bold.ttf') format('ttf');
}


*:focus {
    outline: none;
}

body {
    background-color: #1B1A1F;
    color: #00FF00;
    font-family: 'Ubuntu Mono', monospace;
    font-size: 16px;
}

.titlebar {
  background-color: #00FF00;
  color: #1B1A1F;
  -webkit-app-region: drag;
  width: 98.5%;
  position: fixed;
}

.error {
  color: #FF0000;
}

.blinker{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

.inputMain {
  background: transparent;
  border: none;
  color: #00FF00;
  font-family: 'Ubuntu Mono', monospace;
  font-size: 16px;
  min-width: 50%;
  cursor: default;
}

.titleFunc {
	cursor: pointer;
}

.titlebar {
    -webkit-user-select: none;
}

@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
